Flask==1.1.2
joblib==0.14.1
numpy==1.18.1
opencv-python==4.2.0.32
pandas==1.0.0
pandocfilters==1.4.2
parso==0.6.1
pbr==5.4.4
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
pkg-resources==0.0.0
prometheus-client==0.7.1
prompt-toolkit==3.0.3
ptyprocess==0.6.0
pygame==1.9.6
pyglet==1.5.0
Pygments==2.5.2
pyod==0.8.0
pyparsing==2.4.6
pyrsistent==0.15.7
python-dateutil==2.8.1
pytz==2019.3
pyzmq==18.1.1
qtconsole==4.6.0
requests==2.23.0
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.10.0
Send2Trash==1.5.0
six==1.14.0
sklearn-extensions==0.0.2
stevedore==1.32.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.3
traitlets==4.3.3
urllib3==1.25.9
virtualenv==20.0.4
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
zipp==2.1.0
